<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043700753247-spn0oe35uqii0j9q829kkrv0lnq4846k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043700753247-spn0oe35uqii0j9q829kkrv0lnq4846k</string>
	<key>API_KEY</key>
	<string>AIzaSyCCKuZjqmA9zhPDJJiEdpobbAugGPCN3kE</string>
	<key>GCM_SENDER_ID</key>
	<string>1043700753247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.ifmis.news</string>
	<key>PROJECT_ID</key>
	<string>ifmis-bae6a</string>
	<key>STORAGE_BUCKET</key>
	<string>ifmis-bae6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043700753247:ios:ec9f7a3057c339077e8cea</string>
</dict>
</plist>